@model IEnumerable<MeAnota.Models.Bloco>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (TempData["mensagem"] != null) {
<p>@TempData["mensagem"]</p>
}
<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id } , new { @class = "delete", data_id = item.Id })
        </td>
    </tr>
}

</table>

@section scripts
{
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        (function () {
            var excluirBloco = function (linkExcluir) {
                $.post('/Bloco/Delete/' + $(linkExcluir).attr('data-id'), function () {
                    $("h2").after("<p>Bloco excluído com sucesso</p>");
                    linkExcluir.closest("tr").fadeOut().remove();
                });
            };
            $(document).ready(function () {
                $(".delete").on('click', function (event) {
                    var linkExcluir = $(this);
                    event.stopPropagation();
                    $("<div>Deseja realmente excluir esse Bloco?</div>").dialog({
                        autoOpen: true,
                        buttons: {
                            Ok: function () {
                                excluirBloco(linkExcluir);
                                $(this).dialog("close");
                            },
                            Cancelar: function () { $(this).dialog("close"); }
                        },
                        modal: true
                    });
                    return false;
                });
            });
        })();
    </script>
}
